@import './antd.css';
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  font-family:"Lucida Console", "Courier New", monospace;
}

html, 
body {   
  height: 100%; 
} 
body { 
  display: flex;   
  flex-direction: column; 
}

.content { 
  flex: 1 0 auto; 
}

.footer {   
  flex-shrink: 0;
  text-align: center;
}

.about-text-block {
  margin-bottom: 16px;
  font-style: italic;
}

#heading {
  font-size: 16px;
}

.about-text-block > a {
  text-decoration: underline;
}

.about-text-block > a:hover {
  text-decoration: underline;
}

.about-text-counter {
  font-family: 'karla';
  font-weight: bold;
}

.App {
  text-align: center;
  flex: 1 0 auto; 
}

.menu-view {
  margin: 24px;
}

.footer-icon {
  margin: 8px;
  cursor: pointer;
}

.token {
  display: inline-block;
  margin: 24px;
  border-color: black;
  border-width: 1px;
  border-style: outset;
  cursor: pointer;
}

.token-page-id {
  font-size: 12px;
  font-family: "Karla";
}

.token-page-title {
  font-size: 16px;
  font-style: oblique;
}

.token-text-box {
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.token-wrapper {
  display: flex;
  flex-direction: column;;
}
